.time {
    font-size: 18px;
    margin-left: 15px;
    padding-top: 10px;
    border: solid 2px black;
    width: 25%;
    padding-left: 25px;
    padding-bottom: 10px;
    border-radius: 10Px;
    background-color: rgba(0, 0, 0, 0.808);
    box-shadow: 3px 3px 10px 1px;
}