.del-style {
    background-color: #ff4d4d;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.todo {
    display: inline-block;
    gap: 10px;
    align-items: center;
}

.todoButton {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.todoInput {
    padding: 6px;
}

.todogrip {
    display: grid;
    grid-template-columns: 300px 100px;
    gap: 10px;
    align-items: stretch;

}